<!DOCTYPE html>
<html>
	<head>
		<title>Albums</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div id="main" class="container">
			<div class="row">
				<div class="col-sm-4">
					<h1>Registro de usuarios</h1>
					<form method="POST" v-on:submit.prevent="createUser">
					  <div class="form-group">
					    <label for="">Email address</label>
					    <input type="email" class="form-control" id="email" placeholder="Email" v-model="newEmail">
					  </div>
					  <div class="form-group">
					    <label for="">Nombre</label>
					    <input type="text" class="form-control" id="name" placeholder="Nombre" v-model="newName">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Apellido</label>
					    <input type="text" class="form-control" id="lastname" placeholder="Apellido" v-model="newLastname">
					  </div>
					  <button type="submit" class="btn btn-primary">Registrar</button>
					</form>
				</div>
				<div class="col-sm-8">
					<h1>Usuarios</h1>
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th scope="col">Email</th>
						      <th scope="col">Nombre</th>
						      <th scope="col">Apellido</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr v-for="item in users">
								<td >
									{{item.email}}
								</td>
								<td>
									{{item.name.first}}
								</td>
								<td>
									{{item.name.last}}
								</td>
					      	</tr>
						  </tbody>
						</table>
				</div>
			</div>
		</div>
 		<!-- scripts -->
		<script  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>