<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Albums</title>
</head>
<body>
	<header class="cd-main-header">
		<a href="#0" class="cd-logo"><img src="../img/cd-logo.svg" alt="Logo"></a>
		
		<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div> <!-- cd-search -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
				<li><a href="#0">Tour</a></li>
				<li><a href="#0">Support</a></li>
				<li class="has-children account">
					<a href="#0">
						<img src="../img/cd-avatar.png" alt="avatar">
						Account
					</a>

					<ul>

						<li><a href="#0">My Account</a></li>
						<li><a href="#0">Edit Account</a></li>
						<li><a href="#0">Logout</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label">Main</li>
				<li class="has-children overview">
					<a href="../index.html">Overview</a>
					
					<ul>
						<li><a href="#0">All Data</a></li>
						<li><a href="#0">Category 1</a></li>
						<li><a href="#0">Category 2</a></li>
					</ul>
				</li>
				<li class="has-children notifications active">
					<a href="#0">Notifications<span class="count">3</span></a>
					
					<ul>
						<li><a href="#0">All Notifications</a></li>
						<li><a href="#0">Friends</a></li>
						<li><a href="#0">Other</a></li>
					</ul>
				</li>

				<li class="has-children comments">
					<a href="#0">Comments</a>
					
					<ul>
						<li><a href="#0">All Comments</a></li>
						<li><a href="#0">Edit Comment</a></li>
						<li><a href="#0">Delete Comment</a></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Secondary</li>
				<li class="has-children bookmarks">
					<a href="#0">Bookmarks</a>
					
					<ul>
						<li><a href="#0">All Bookmarks</a></li>
						<li><a href="#0">Edit Bookmark</a></li>
						<li><a href="#0">Import Bookmark</a></li>
					</ul>
				</li>
				<li class="has-children images">
					<a href="#0">Images</a>
					
					<ul>
						<li><a href="#0">All Images</a></li>
						<li><a href="#0">Edit Image</a></li>
					</ul>
				</li>

				<li class="has-children users">
					<a href="#">Users</a>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Action</li>
				<li class="action-btn"><a href="#0">+ Button</a></li>
			</ul>
		</nav>

		<div id="main" class="content-wrapper">
			<div class="row">
				<div class="col-sm-4">
					<h1>Registro de usuarios</h1>
					<form method="POST" v-on:submit.prevent="createUser">
					  <div class="form-group">
					    <label for="">Email address</label>
					    <input type="email" class="form-control" id="email" placeholder="Email" v-model="newEmail">
					  </div>
					  <div class="form-group">
					    <label for="">Nombre</label>
					    <input type="text" class="form-control" id="name" placeholder="Nombre" v-model="newName">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Apellido</label>
					    <input type="text" class="form-control" id="lastname" placeholder="Apellido" v-model="newLastname">
					  </div>
					  <button type="submit" class="btn btn-primary">Registrar</button>
					</form>
				</div>
				<div class="col-sm-8">
					<h1>Usuarios</h1>
					<div class="table-responsive">
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th scope="col">Email</th>
						      <th scope="col">Nombre</th>
						      <th scope="col">Apellido</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr v-for="item in users">
								<td >
									{{item.email}}
								</td>
								<td>
									{{item.name.first}}
								</td>
								<td>
									{{item.name.last}}
								</td>
					      	</tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->
<script src="../js/jquery.menu-aim.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
<!-- scripts -->
<script  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>